.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  // Allow element to be focusable when navigated to via the keyboard:
  // https://www.drupal.org/node/897638
  &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
  }
}

.main {
  border:1px solid transparent;
  // margin-top:50px;
}
.page-section {
  width:100%;
  height:100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-wrapper {
  width:400px;
  position:relative;
  // border:1px solid blue;
  overflow:hidden;
}
.image-wrapper::after {
  content:' ';
  display:block;
  padding-top:75vh;
}
.block {
  width:100vw;
  height:100vh;
}
// .anim-section {
//   border:1px solid red;
//   height:100vh;
// }
.fader {
  width:100vw;
  height:105vh;
  // border:3px solid green;
  background-color: transparent;
  background-image: url('/siteart/watch_apps.svg');
  background-size: auto 105vh;
  background-position: center center;
  will-change:opacity, transform;
  background-repeat: no-repeat;
  // display:none;
}
// .button {
//   display: inline-block;
//   padding: 0.5em 1em;
//   margin: auto;
//   font-size: 2vw;
//   color: white;
//   text-align: center;
//   border-radius: .25em;
//   box-shadow: 0 0 0.5em rgba(0,0,0,0.4);
//   border: 2px solid darken(#3883d8, 10%);
//   text-decoration: none;
// }
}
.hero-logo {
  position: absolute;
  margin:48vh auto 0;
  // top:60%;
  left:0;
  right:0;
  top:0;
  height:26vh;
  min-height:rem(200);
}
.hero-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height:150vh;
  background-image: url('/siteart/bg_empower_hero.jpeg');
}
.anim-section {
    height:105vh;
    position: absolute;
    top:0;
    background-repeat: no-repeat;
    background-position: top center, top center;
    background-size: cover, cover;
}
.hero-text-hidden {
  transition-timing-function: ease-out;
  // opacity:0;
}
.watch-anim-section {
  height:100vh;
  border: 1px solid red;
}
.watch-anim-wrapper {
  display:flex;
  height:100vh;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.watch-anim-text {
  max-width:900px;
  font-size: rem(24);
}
.watch-anim-list {
  border:1px solid red;
  li {
    opacity:0;
  }
}
.inner-wrapper {border:1px solid red;}
.watch-anim-image {
  width:40%;
  background-image: url('/siteart/bg_watch.jpg');
  background-size: 100% auto;
  position: relative;
  max-width:rem(500);
  background-repeat: no-repeat;
  transform: rotate(20deg);
  &::after {
    content: " ";
    display: block;
    width:100%;
    padding:127% 0 0 0;
  }
}
.watch-anim-face {
  width:100%;
  padding:80% 0 0;
  position: absolute;
  top:17.9%;
  background-size: 49%;
  background-repeat: no-repeat;
  background-position: left center;
  transition: background-image 0.3s ease-in-out;
}
.watch-anim-face.face-1 {
  background-image: url('/siteart/bg_watch_face_one.png');
}
.watch-anim-face.face-2 {
  background-image: url('/siteart/bg_watch_face_two.png');
}
.watch-anim-face.face-3 {
  background-image: url('/siteart/bg_watch_face_three.png');
}
.watch-anim-face.face-4 {
  background-image: url('/siteart/bg_watch_face_four.png');
}
