.one-column {
  width:100%;
}
.spacer-1 {
  height:rem(10);
  width:100%;
}
.spacer-2 {
  height:rem(20);
  width:100%;
}
.spacer-3 {
  height:rem(30);
  width:100%;
}
.spacer-4 {
  height:rem(40);
  width:100%;
}
.flex-centered {
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.centered-object {
  margin:0 auto;
  display:block
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  // Allow element to be focusable when navigated to via the keyboard:
  // https://www.drupal.org/node/897638
  &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
  }
}

body.modal-open {
    overflow: hidden;
}
.main.empower-case-study {

  .image-fade-wrapper {
    margin:rem(40) 0 0 0;
  }
  .image-fade-wrapper.image-fade {
    opacity:0;
  }
  .case-study-section.full-bleed {
    width:100vw;
    height:100vh;
  }
  .full-bleed.full-bleed-inset {
    padding:rem(40) 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .full-bleed-inner {
    height:auto;
  }
  .full-bleed-inner.full-bleed-offset {
    width:60%;
    margin:0 rem(40);
  }
  .description {
    font-size:rem(20);
    line-height: 1.3;
    text-align: center;
    @media screen and (max-width:rem(1100)){         font-size:rem(18);
    }
  }
  h2.reversed {
    text-shadow: 1px 1px 2px rgba(#222, .2), -1px -1px 2px rgba(#222, .2), 0 0 15px rgba(#222, .6);
    line-height:1.3;
  }
  .description.reversed {
    text-shadow: 1px 1px 2px rgba(#222, .2), -1px -1px 2px rgba(#222, .2), 0 0 15px rgba(#222, .6);
    font-weight:400;
  }
  .overlay-apps {
    width:100vw;
    height:105vh;
    margin:0;
    position: absolute;
    z-index:2;
    background-color: transparent;
    background-image: url('/siteart/watch_apps.svg');
    background-size: auto 105vh;
    background-position: center center;
    will-change:opacity, transform;
    background-repeat: no-repeat;
    display:none;
  }
  .emp-case-study-header {
    padding:rem(30) 0 0;
    @media screen and (min-width:rem(1100)){
      padding:rem(50) 0 0;
    }
  }
  .hero-logo-wrapper {
    margin:0 auto;
    width:calc(100% - 64px);
    height:auto;
    padding-top: rem(0) 0;
    position: relative;
    padding-top: 45%;
    @media screen and (min-width:rem(500)){
      margin:0 auto;
      transform: translateY(43vh);
      width:rem(400);
      height:261px;
      padding-top: 10%;
    }
  }
  .hero-logo {
    width:100%;
    position: absolute;
    top:0;
    left:0;
  }
  .bg-overlay {
    &:after {
      position: absolute;
      top:0;
      width:100vw;
      content: " ";
      display: block;
      z-index:1;
      opacity:1;
      transition: 1s opacity;
    }
  }
  .section-hero {
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% auto;
    background-color: #eff3f4;
    background-image: url('/siteart/bg_empower_hero_cropped.jpg');
    overflow:hidden;
    padding-bottom:rem(90);
        @media screen and (min-width:rem(500)){
          position: relative;
          height:140vh;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: 100% auto;
          background-color: #eff3f4;
          background-image: url('/siteart/bg_empower_hero_cropped.jpg');
          overflow:hidden;
          &:after {
            height:140vh;
            background-color: #eff3f4;
          }
        }
  }
  .section-hero.active {
    &:after {
      opacity: 0;
      background-color: transparent;
      transition: 1s opacity;
    }
  }
  .anim-section {
      position: relative;
      z-index: 2;
      padding:0;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
  }
  .watch-anim-section {
    height:100vh;
  }
  .watch-anim-wrapper {
    display:flex;
    height:100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .watch-anim-text {
    max-width:900px;
    width:60%;
    font-size:rem(20);
    @media screen and (max-width:rem(1300)){
      font-size:rem(18) !important;
    }
    @media screen and (max-width:rem(1100)){
      width:50%;
    }
  }
  .watch-anim-list {
    list-style-type: none;
    padding:0;
    margin:0;
    li {
      margin:0 0 rem(20);
      @media screen and (max-width:rem(1300)){
        margin:0 0 rem(10);
      }
    }
  }
  .fade-in {
    opacity:0;
  }
  .watch-anim {
    width:40%;
    max-width:rem(500);
    padding:0 3% 0 2%;
    display: flex;
    justify-content: center;
    overflow:hidden;
    margin:0 0 0 rem(40);
    @media screen and (max-width:rem(1100)){
      width:50%;
    }
  }
  .watch-anim-image {
    width:100%;
    background-image: url('/siteart/bg_watch.jpg');
    background-size: 100% auto;
    position: relative;
    background-repeat: no-repeat;
    transform: rotate(20deg);
    &::after {
      content: " ";
      display: block;
      width:100%;
      padding:127% 0 0 0;
    }
  }
  .watch-anim-face {
    width:100%;
    padding:80% 0 0;
    position: absolute;
    top:17.9%;
    background-size: 49%;
    background-repeat: no-repeat;
    background-position: left center;
    transition: background-image 0.3s ease-in-out;
  }
  .watch-anim-face.face-1 {
    background-image: url('/siteart/bg_watch_face_one.png');
  }
  .watch-anim-face.face-2 {
    background-image: url('/siteart/bg_watch_face_two.png');
  }
  .watch-anim-face.face-3 {
    background-image: url('/siteart/bg_watch_face_three.png');
  }
  .watch-anim-face.face-4 {
    background-image: url('/siteart/bg_watch_face_four.png');
  }
  .watch-arm {
    background: url('/siteart/bg-watch-hand.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    @media screen and (min-width:rem(1100)){
      &:after {
        position: absolute;
        top:0;
        width:100%;
        content: " ";
        display: block;
        height:100vh;
        background-color: #fff;
        z-index:1;
        transition: background-color 2s;
      }
    }
  }
  .watch-arm.active {
    &:after {
      background-color: transparent;
      transition: background-color 2s;
    }
  }
  // .clearfix {
  //   &::after {
  //     clear: both;
  //     content: "";
  //     display: table;
  //     height:100vh;
  //     width:100vw;
  //   }
  // }
  .fs-overlay {
    width:100%;
    opacity:0;
    background-color: transparent;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .fs-modal {
    width:700px;
    height:700px;
    border:1px solid red;
    background-color:$med;
  }
  .fs-overlay.active {
    position: fixed;
    top:0;
    width:100vw;
    height:100vh;
    background-color: rgba(#fff, .8);
    transition: background-color .3s, opacity .3s;
    z-index:5;
    opacity:1;
    border:1px solid red;
  }
  .fs-overlay.inline {
    opacity:1;
  }
} // don't remove this
