<!-- Note: The contents of this file is prototype code created by Cantina and is not intended to be used in prodution. -->
<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body class="main">
        <!-- Add your site or application content here -->
        <main>
          <section id="section-1" class="page-section">
              <!-- <div id="my-sticky-element" class="block"></div> -->
              <img id="my-sticky-element" class="block" src="/siteart/hero_boston_sunset.jpg" />
              <!-- <canvas id="my-sticky-element" class="canvas"></canvas> -->

          </section>
          <section id="section-2" class="page-section">
            <div id="my-sticky-element-2" class="block">two</div>
          </section>
          <section id="section-3" class="page-section">
            <canvas id="myCanvas" class="canvas"></canvas>
          </section>

      </main>

    </body>
    @@include('../html_partials/common/js_links.html')
    <script>
    (function() {
      "use strict";
      pageFunctions.intialize();
    })();
    </script>
</html>
