<!-- Note: The contents of this file is prototype code created by Cantina and is not intended to be used in prodution. -->
<!doctype html>
<html class="no-js" lang="">
    @@include('../html_partials/common/head.html')
    <body class="main">
        <!-- Add your site or application content here -->
        <main>
          <section id="section-1" class="page-section hero-section">
              <div id="anim-section" class="anim-section">
                <img id="hero-logo" class="hero-logo" src="/siteart/logo_empower_hero.svg" />
              <div id="my-sticky-element" class="fader"></div>
            <div id="anim-section" class="anim-section">
                <div id="my-sticky-element" class="fader"></div>

          <header class="e-case-study-header">
              <img id="hero-logo" class="hero-logo" src="/siteart/logo_empower_hero.svg" />
          </header>

            <div id="hero-text" class="inner-wrapper hero-text-hidden">
              <h2>Apple Watch App</h2>
              <p class="description">
                Getting people to think saving for retirement is a significant challenge for plan sponsors across industries. Motivating people to actively engage in their retirement savings plan? That’s a whole different issue. How did we solve that challenge?
              </p>
              <p>
                Empower Retirement (Empower) provides retirement services to companies of every size, from the small to mid, and the large to the mega plan. Empower is the second-largest retirement services provider in the country with over 8 million participants on its platform.
              </p>
              <p>
                Their primary mission goes back to its namesake: empowering people to take their financial destinies into their own hands, or wrist, in this case.
              </p>
            </div>
        </div>
      </section>
            </div>
            <!-- <dialog>
                I'm a dialog!
                <form method="dialog">
                  <input type="submit" value="Close" />
                </form>
              </dialog>
              <script>
                var dialog = document.querySelector('dialog');
                dialogPolyfill.registerDialog(dialog);
                // Now dialog acts like a native <dialog>.
                dialog.showModal();
              </script> -->
          </section>
          <section id="section-2" class="page-section">

          </section>
          <section id="section-3" class="page-section">
          </section>

      </main>

    </body>
    @@include('../html_partials/common/js_links.html')
    <script>
    (function() {
      "use strict";
      pageFunctions.intialize();
    })();
    </script>
</html>
